<div class="nw-title">
  <h2><strong>Edit your workout</strong></h2>
</div>
<div class="we-page" data-controller="insert-in-list">

  <div class="we-form">
    <h2>Workout details</h2>
    <%= simple_form_for @workout, url: workout_path(@workout.id), html: { class: "nw-form"} do |f|%>
      <%= f.input :name, label: "Name of workout (15 Characters Max)", :input_html => { class: 'field' } %>
      <%= f.input :category, collection: ["warmup", "weights", "arobic", "cardio"], label: "Category", :input_html => { class: 'field' } %>
      <%= f.input :sport, label: "Sport", :input_html => { class: 'field' } %>
      <%= f.input :difficulty, label: "Difficulty", collection: ["😴", "😀", "🥵", "🤮", "💀"], label: "Difficulty", :input_html => { class: 'field' } %>
      <%= f.input :workout_duration, label: "Workout duration", :input_html => { class: 'field' } %>
      <%= f.input :equipment, label: "equipment", :input_html => { class: 'field' } %>
      <%= f.input :muscle_group, label: "Muscle Group", :input_html => { class: 'field' } %>
      <%= f.input :description, label: "Description", :input_html => { class: 'field' } %>
      <%# <%= f.input :photo, as: :file %>
        <%= f.button :submit, "Update workout details",  class: "save-workout-button"  %>
    <% end %>
  </div>

  <div class="we-exercises">
    <h2>Exercises</h2>

    <div class="we-nw-card" id="add-we-button">
        <h3><strong><i class="fas fa-plus"></i> Add an exercise</strong></h3>
    </div>

    <div>
      <%= render 'new_we_form', workout: @workout %>
    </div>

    <%= link_to new_workout_workout_exercise_path(@workout.id) do %>

      <% end %>
    <% @workout_exercises = WorkoutExercise.where(workout_id: @workout.id ).to_a %>
    <div data-insert-in-list-target="items" data-controller="insert-updated-exercise">
      <% @workout_exercises.each do |workout_exercise| %>
      <% @exercise = Exercise.find(workout_exercise.exercise_id) %>
        <%= render partial: 'workout_exercise', locals: { workout_exercise: workout_exercise, exercise: @exercise } %>
        <%# <div data-insert-updated-exercise-target="exercises">
          <%= render 'edit_we_form', workout: @workout %>
        <%# </div> %>
      <% end %>
    </div>

  </div>



</div>
  <%= link_to "Back", workouts_path, class:"button-secondary"%>

<script>
document.getElementById("add-we-button").addEventListener("click", () => {
document.getElementById("new-we-form").style.display="block";
})

</script>
