<div class="nw-title">
  <h2><strong>Edit your workout</strong></h2>
</div>
<div class="we-page">

  <div class="we-form">
    <h2>Workout details</h2>
    <%= simple_form_for @workout, url: workout_path(@workout.id), html: { class: "nw-form"} do |f|%>
      <%= f.input :name, label: "Name of workout (15 Characters Max)", :input_html => { class: 'field' } %>
      <%= f.input :category, collection: ["warmup", "weights", "arobic", "cardio"], label: "Category", :input_html => { class: 'field' } %>
      <%= f.input :sport, label: "Sport", :input_html => { class: 'field' } %>
      <%= f.input :difficulty, label: "Difficulty", collection: ["😴", "😀", "🥵", "🤮", "💀"], label: "Difficulty", :input_html => { class: 'field' } %>
      <%= f.input :workout_duration, label: "Workout duration", :input_html => { class: 'field' } %>
      <%= f.input :equipment, label: "equipment", :input_html => { class: 'field' } %>
      <%= f.input :muscle_group, label: "Muscle Group", :input_html => { class: 'field' } %>
      <%= f.input :description, label: "Description", :input_html => { class: 'field' } %>
      <%# <%= f.input :photo, as: :file %>
        <%= f.button :submit, "Update workout details",  class: "button-primary"  %>
    <% end %>
  </div>

  <div class="we-exercises" >
    <h2>Exercises</h2>
      <%= link_to new_workout_workout_exercise_path(@workout.id) do %>
    <div class="we-nw-card">
        <h3><strong><i class="fas fa-plus"></i> Add an exercise</strong></h3>
    </div>
      <% end %>
    <% @workout_exercises = WorkoutExercise.where(workout_id: @workout.id ).to_a %>
    <% @workout_exercises.each do |workout_exercise| %>
    <% exercise = Exercise.find(workout_exercise.exercise_id) %>
    <div class="we-excercise-card">

      <div class="we-image-div">
        <%= image_tag(exercise.exercise_image) %>
      </div>

      <div class="we-exercise-name">
        <h3><strong><%= exercise.name %></strong></h3>
      </div>

      <div class ="we-few-content-right">
        <div>
          <strong><%= exercise.difficulty %></strong>
        </div>
      </div>

    </div>
  <% end %>

  </div>

</div>
  <%= link_to "Back", workouts_path, class:"button-secondary"%>
