<div class="nw-title">
  <h2>Edit your workout</h2>
</div>
<div class="we-page" data-controller="insert-in-list">

  <div class="we-form">
    <h2>Workout details</h2>
    <%= simple_form_for @workout, url: workout_path(@workout.id), html: { class: "nw-form"} do |f|%>
      <%= f.input :name, label: "Name of workout (15 Characters Max)", :input_html => { class: 'field' } %>
      <%= f.input :category,
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'},
                      collection: Workout::CATEGORY,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper'%>
      <%= f.input :sport, label: "Sport", :input_html => { class: 'field' } %>
      <%= f.input :difficulty,
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'},
                      collection: Workout::DIFFICULTY,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper'%>
      <%= f.input :workout_duration, label: "Workout duration", :input_html => { class: 'field' } %>
      <%= f.input :equipment, label: "equipment", :input_html => { class: 'field' } %>
      <%= f.input :muscle_group, label: "Muscle Group", :input_html => { class: 'field' } %>
      <%= f.input :description, label: "Description", :input_html => { class: 'field' } %>
      <%# <%= f.input :photo, as: :file %>
        <%= f.button :submit, "Update workout details",  class: "button-primary"  %>
    <% end %>
  </div>

  <div class="we-exercises">
    <h2>Exercises</h2>
    <% @workout_exercises = WorkoutExercise.where(workout_id: @workout.id ).to_a %>
    <div data-insert-in-list-target="items" data-controller="insert-updated-exercise">
      <% @workout_exercises.each do |workout_exercise| %>
        <% @exercise = Exercise.find(workout_exercise.exercise_id) %>
          <%= render partial: 'workout_exercise', locals: { workout_exercise: workout_exercise, exercise: @exercise } %>
          <%= render partial: 'edit_we_form', locals: { workout_exercise: workout_exercise, workout: @workout } %>
      <% end %>
    </div>
      <div>
      <%= render 'new_we_form', workout: @workout %>
      </div>
    <div class="button-secondary" id="add-we-button">
        <i class="fas fa-plus"></i>
      </div>
  </div>
</div>

<%= link_to "Back", workout_path(@workout), class:"button-secondary"%>

<script>
document.getElementById("add-we-button").addEventListener("click", () => {
document.getElementById("new-we-form").style.display="block";
document.getElementById("add-we-button").classList.add("delete-we-form");
})


document.getElementById("edit-we").addEventListener("click", (e) => {
console.log(e.currentTarget);
// document.getElementById("edit_we_form").style.display="block";
})
</script>
