<div class=>
  <h1 style="margin: 24px 0px;">All Workouts:</h1>

  <div class="workout-card-index-div">
    <%= link_to new_workout_path do %>
      <div class="workout-card-info-index add-workout-button">
        <p class="add-workout-button-text">+</p>
      </div>
    <%end%>

    <% @workouts.each do |workout|%>
        <%= tag.div class: "workout-card-info-index", id: dom_id(workout) do %>
          <%= link_to toggle_favorite_workout_path(workout), remote: true, method: :post do %>
            <div class="favourite-icon-div">
              <div class="favourite-icon <%= 'active-icon' if current_user.favorited?(workout) %>" data-id="<%= workout.id %>">
                <i class="fas fa-heart"></i>
              </div>
            </div>
          <% end %>

          <%# <%= cl_image_tag(workout.photo.key) %>
          <%= link_to workout_path(workout) do %>

            <div class="workout-card-text">
              <h1 class="workout-name"><%= workout.name %></h1>
              <p class="workout-card-sport"><em>Sport:</em> <%= workout.sport %></p>
              <p class="workout-card-category"><em><%= workout.category %></em></p>
              <h3 class="workout-card-emoji"><%= workout.difficulty %></h3>
              <p class="workout-card-time"><strong>Time:</strong> <%= workout.workout_duration %> mins</p>
            </div>
          <%end%>
        <% end %>
    <% end %>

  </div>
</div>
