<div class="nw-container">

  <div class="nw-title">
    <h2><strong>Create a new workout</strong></h2>
  </div>

  <div class="nw-form-container">
    <h2>Workout details</h2>
    <%= simple_form_for @workout, url: workouts_path, html: { class: "nw-form"} do |f|%>
      <%= f.input :name, label: "Name of workout (15 Characters Max)", :input_html => { class: 'field' } %>
      <%= f.input :category, collection: ["warmup", "weights", "arobic", "cardio"], label: "Category", :input_html => { class: 'field' } %>
      <%= f.input :sport, label: "Sport", :input_html => { class: 'field' } %>
      <%= f.input :difficulty, label: "Difficulty", collection: ["😴", "😀", "🥵", "🤮", "💀"], label: "Difficulty", :input_html => { class: 'field' } %>
      <%= f.input :workout_duration, label: "Workout duration", :input_html => { class: 'field' } %>
      <%= f.input :equipment, label: "equipment", :input_html => { class: 'field' } %>
      <%= f.input :muscle_group, label: "Muscle Group", :input_html => { class: 'field' } %>
      <%= f.input :description, label: "Description", :input_html => { class: 'field' } %>
      <%# <%= f.input :photo, as: :file %>
      <%= link_to "Cancel", workouts_path, class:"button-secondary" %>
      <%= f.button :submit, "Save workout details",  class: "button-primary"  %>
    <% end %>
  </div>

</div>
