

<%# <div class="back-container" data-workouttitle-target="backbutton" >
  <%= link_to "Back", workouts_path, class: "back-button" %>
<%# </div> %>


<div class="ws-container" data-controller="workouttitle">

  <div class="ws-header ws-fade" data-workouttitle-target="header">
    <div class="ws-details" data-workouttitle-target="wsdetails">

      <h1 data-workouttitle-target="workoutheading"><%= @workout.name %></h1>
      <div>
        <strong><%= @workout.description %></strong>
      </div>

        <div class="ws-icons">

          <div class="ws-icons-left">
            <div class="ws-item"><strong>Category: </strong></div>
            <div class="ws-item"><strong><i class="fas fa-running"></i> Sport: </strong></div>
            <div class="ws-item"><strong><i class="fas fa-bullseye"></i> Muscle Group: </strong></div>
          </div>

          <div class="ws-icons-center-l">
            <div class="ws-item"><%= @workout.category != "" ? @workout.category : "N/A" %></div>
            <div class="ws-item"><%= @workout.sport != ""  ? @workout.sport : "N/A" %></div>
            <div class="ws-item"><%= @workout.muscle_group != "" ? @workout.muscle_group : "N/A" %></div>
          </div>

          <div class="ws-icons-center-e">
            <div class="ws-item"><strong><i class="fas fa-signal"></i>  Difficulty: </strong></div>
            <div class="ws-item"><strong><i class="far fa-clock"></i> Duration: </strong></div>
            <div class="ws-item"><strong><i class="fas fa-dumbbell"></i> Equipment: </strong></div>
          </div>

          <div class="ws-icons-right">
            <div class="ws-item"><%= @workout.difficulty != "" ? @workout.difficulty : "N/A" %></div>
            <div class="ws-item"><%= @workout.workout_duration != "" ? @workout.workout_duration : "N/A" %></div>
            <div class="ws-item"><%= @workout.equipment != "" ? @workout.equipment : "N/A" %></div>
          </div>

        </div>
          <div class="spotify-player">
            <iframe src="https://open.spotify.com/embed/playlist/04PSj6xQENNfDbXXIAcCNd?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
          </div>
    </div>

    <div class='ws-start-workout'>
        <a href="#" class="start-workout-button" data-action="click->workouttitle#buttontest" data-workouttitle-target="button"><strong>Start<br>Workout!</strong></a>
    </div>
  </div>

  <h2 class="ws-heading" data-workouttitle-target="heading"></h2>
  <div class="ws-exercises" data-action="keyup@window->workouttitle#nextExercise">



    <% @workout_exercises = WorkoutExercise.where(workout_id: @workout.id ).to_a %>
      <% if @workout_exercises.length == 0 %>
        <div class="ws-excercise-card-ph"><h3><strong>No exercises added to this workout!</strong></h3></div>
      <%end%>
      <% @workout_exercises.each do |workout_exercise| %>
        <% exercise = Exercise.find(workout_exercise.exercise_id) %>
        <div class="ws-excercise-card" data-workouttitle-target="exercises" data-time="<%= workout_exercise.exercise_duration %>" data-reps="<%= workout_exercise.reps %>">
          <div class="sub-container">
            <div class="ws-image-div">
              <%= cl_image_tag(exercise.photo.key, data: {"workouttitle-target"=>"picture"}, class: "picture") %>
            </div>

            <div class="ws-exercise-name" data-workouttitle-target="name">
              <h3><strong><%= exercise.name %></strong></h3>
            </div>
          </div>
          <div class ="ws-few-content-right" data-workouttitle-target="emoji">
              <strong class="emoji"><%= exercise.difficulty %></strong>
          </div>
        </div>
      <% end %>
  </div>

  <div class="ws-buttons" data-workouttitle-target="bottombuttons">
    <%= link_to "Back", workouts_path, class: "button-secondary"%>
    <a href="#" class="button-secondary">Copy Workout</a>
    <%= link_to "Edit Workout", edit_workout_path(@workout), class: "button-secondary" %>
  </div>

  <div class="cwb-container">
    <%= link_to "Mark as completed!", completed_workouts_path(@workout), method: :post, class: "complete-workout-button cwb-displaynone" %>
  </div>

</div>
