

<%# <div class="back-container" data-workouttitle-target="backbutton" >
  <%= link_to "Back", workouts_path, class: "back-button" %>
<%# </div> %>


<div class="ws-container" data-controller="workouttitle">

  <div class="ws-header ws-fade" data-workouttitle-target="header">
    <div class="ws-details" data-workouttitle-target="wsdetails">

      <h1 data-workouttitle-target="workoutheading"><%= @workout.name %></h1>
      <div>
        <strong><%= @workout.description %></strong>
      </div>

        <div class="ws-icons">

          <div class="ws-icons-left">
            <div><strong>Category: </strong><%= @workout.category %></div>
            <div><strong><i class="fas fa-running"></i> Sport: </strong><%= @workout.sport %></div>
            <div><strong><i class="fas fa-bullseye"></i> Muscle Group: </strong><%= @workout.muscle_group %></div>
          </div>

          <div class="ws-icons-right">
            <div><strong><i class="fas fa-signal"></i>  Difficulty: </strong><%= @workout.difficulty %></div>
            <div><strong><i class="far fa-clock"></i> Duration: </strong><%= @workout.workout_duration %></div>
            <div><strong><i class="fas fa-dumbbell"></i> Equipment: </strong><%= @workout.equipment %></div>
          </div>
        </div>
    </div>

    <%# <div class="spotify-player">
      <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4cMP5VV3uz1?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div> %>

    <div class='ws-start-workout'>
        <a href="#" class="start-workout-button" data-action="click->workouttitle#buttontest" data-workouttitle-target="button"><strong>Start<br>Workout!</strong></a>
    </div>
  </div>

  <h2 class="ws-heading" data-workouttitle-target="heading"></h2>
  <div class="ws-exercises" data-action="keyup@window->workouttitle#nextExercise">

      <% @workout_exercises = WorkoutExercise.where(workout_id: @workout.id ).to_a %>
      <% @workout_exercises.each do |workout_exercise| %>
        <% exercise = Exercise.find(workout_exercise.exercise_id) %>
        <div class="ws-excercise-card" data-workouttitle-target="exercises" data-time="<%= workout_exercise.exercise_duration %>" data-reps="<%= workout_exercise.reps %>">
          <div class="sub-container">
            <div class="ws-image-div">
              <%= image_tag(exercise.exercise_image, data: {"workouttitle-target"=>"picture"}, class: "picture") %>
            </div>

            <div class="ws-exercise-name" data-workouttitle-target="name">
              <h3><strong><%= exercise.name %></strong></h3>
            </div>
          </div>
          <div class ="ws-few-content-right" data-workouttitle-target="emoji">
              <strong class="emoji"><%= exercise.difficulty %></strong>

          </div>
        </div>
      <% end %>
  </div>

  <div class="ws-buttons" data-workouttitle-target="bottombuttons">
    <div data-workouttitle-target="backbutton" class="button-secondary">
      <%= link_to "Back", workouts_path %>
    </div>
    <a href="#" class="button-secondary">Copy Workout</a>
    <%= link_to "Edit Workout", edit_workout_path(@workout), class: "button-secondary" %>
  </div>

  <div class="cwb-container">
    <%= link_to "Mark as completed!", completed_workouts_path(@workout), method: :post, class: "complete-workout-button cwb-displaynone" %>
  </div>

</div>
