<div class="dash-content-div-top">
  <% if user_signed_in? %>
    <h1>Hello, <%= current_user.email %>!</h1>
  <% else %>
    <h1>Hello!</h1>
  <% end %>
</div>
  <div class="dash-content-div">
    <div class="home-cards-container">
      <div class="nw-text-h1">
        <h5>NEW WORKOUT:</h5>
      </div>
      <div class="fav-workouts-grid">
        <%= link_to new_workout_path do %>
          <div class="card-add-new-workout-top">
            <h4>+ New Workout</h4>
          </div>
        <%end%>
        <%= link_to workouts_path do %>
        <div class="card-add-new-workout-top">
            <h4>Find Workout</h4>
        </div>
        <% end %>
      </div>
    </div>
    <div class="home-cards-container-down">
      <div class="nw-text-h1">
        <h5>RECENT WORKOUTS:</h5>
      </div>
      <div class="completed-cards-container">
        <% @completed_workouts.last(3).each do |completed_workout| %>
          <%= link_to completed_workouts_path do %>
            <div class="recent-workouts-grid">
              <div class="recent-workout-list-card-left">
                <img src='https://static.onecms.io/wp-content/uploads/sites/35/2020/04/13/GettyImages-1175207081-2000.jpg'>
              </div>
              <div class="recent-workout-list-card-right">
                <% workout = Workout.find(completed_workout.workout_id) %>
                <p class="dashboard-completed"><%= workout.name %></p>
                <h3 class="dashboard-emoji"><%= workout.difficulty %></h3>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<div class="dash-content-div-bottom">
  <div class="home-container-bottom">

    <div class="nw-text-h1">
      <h4>FAVOURITE WORKOUTS:</h4>
    </div>


    <div class="fav-workouts-grid-down" >


      <% if @favorite_workouts.length == 0 %>
       <%= link_to workouts_path do %>
        <div class="card-no-workouts-down">
          <h2 class="favourites-btn">No Favourites 😢 <br> Add some? </h2>

        </div>
        <% end %>
      <% else %>
        <% @favorite_workouts.last(4).each do |fav| %>
          <% @workouts.each do |workout| %>
            <% if workout.id == fav.favoritable.id %>
              <div class="dashboard-link-container">

                  <%= link_to workout_path(workout) do %>
                    <div class="workout-card">
                      <%= cl_image_tag(workout.photo.key) %>
                      <div class="workout-card-info">
                        <div>
                          <h1 class="workout-name"><%= workout.name %></h1>
                          <p class="workout-card-sport"><em>Sport:</em> <%= workout.sport %></p>
                          <p class="workout-card-category"><em><%= workout.category %></em></p>
                          <h3 class="workout-card-emoji"><%= workout.difficulty %></h3>
                          <p class="workout-card-time"><strong>Time:</strong> <%= workout.workout_duration %> mins</p>
                        </div>
                      </div>
                    </div>
                  <% end %>

              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>









      <% unless @favourite_workouts == nil%>
        <%= link_to workouts_path do %>
          <div class="card-all-workouts-down">
            <h2 class="favourites-btn">View Favourite Workouts</h2>
          </div>
        <%end%>
      <%end%>
    </div>
    </div>
      </div>
    </div>
  </div>
</div>
