<div class="hp-background">
  <%# <div class="logo">
      <img src="app/assets/images/logo1.png">
  </div> %>

  <div class="hp-navbar">
    <% unless user_signed_in? %>
      <%= link_to new_user_session_path do %>
        <p class="button-primary">Login</p>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <p class="button-secondary">Sign Up</p>
      <% end %>
    <% end %>
  </div>

  <div class="vid">
    <%= video_tag "workout.mp4", class:"vid-class", autoplay: :autoplay, loop: :loop, muted: :muted %>
  </div>

  <div class="hp-text">
      <div class="hp-text-logo">
        <img src="https://i.ibb.co/R9tqn5p/o-t.png" >
        <h1 style="font-size: 100px;"><strong>lexBox</strong></h1>
      </div>
      <p class="description-text">Whatever your sport, create your perfect workout routine.</p>
      <% if user_signed_in? %>
        <%= link_to dashboard_path do %>
          <p class="button-primary">Lets Go <i class="fas fa-arrow-right"></i></p>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <p class="button-primary">Lets Go <i class="fas fa-arrow-right"></i></p>
        <% end %>
      <% end %>
  </div>
</div>
