<div class="hp-background">
  <%# <div class="logo">
      <img src="app/assets/images/logo1.png">
  </div> %>

  <div class="hp-navbar">
    <% if user_signed_in? %>
      <%= link_to dashboard_path do %>
        <div>
          <p class="button-link">Go to your dashboard</p>
        </div>
      <% end %>

    <% else %>
      <div class="button-primary">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
      <div class="button-secondary">
        <%= link_to "Sign-up", new_user_registration_path, class: "nav-link" %>
      </div>
    <% end %>
  </div>

  <div class="hp-text">
      <h1 style="font-size: 100px;"><strong>FlexBox</strong></h1>
      <p class="description-text">Whatever your sport, create your perfect workout routine.</p>
      <% if user_signed_in? %>
        <p class="button-primary" id="homepage-button"><%= link_to "Lets go ->", workouts_path %> </p>
      <% else %>
        <p class="button-primary"><%= link_to "Lets go ->", new_user_session_path %> </p>
      <% end %>
  </div>
</div>
