<!DOCTYPE html>
<html>
  <head>
    <title>Flexbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div class="navbar-div">
      <% unless action_name == 'home' %>
        <%= render 'pages/navbar' %>
      <% end %>
    </div>

    <div class="content-div">
      <%= yield %>
    </div>

    <div class="footer-div">
      <% unless action_name == 'home' %>
        <%= render 'pages/footer' %>
      <% end %>
    </div>


      <%= render 'shared/flashes' %>


  </body>
</html>
